h1 {
    color: rgb(47, 79, 79);
    font-size: 32px;
    font-family: Montserrat;
    font-weight: bold;
    text-align: center;
}

p {
    color: rgb(47, 79, 79);
    font-size: 15px;
    font-family: Poppins;
    font-weight: bold;
}

h4 {
    font-size: 14px;
    font-family: Montserrat;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

body {
    background: rgb(255, 255, 255);
    margin: 0; /* Add this to remove default margin */
}

#demo {
    color: black;
    font-size: 16px;
}

.table {
    min-width: max-content;
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%; /* Add this to make the table full-width */
    border-radius: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-header {
    text-align: left;
    font-family: "Lato";
    font-weight: bold;
    background-color: #000000; /* Set the background color to match the header color */
}

.table__cell {
    text-align: left;
    padding: 0px;
}

button {
    background-color: #000000;
    color: aqua;
}

table th {
    top: 0; /* Add this to keep the header at the top */
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}


table td {
    text-align: left;
    font-size: 15px;
    font-family: Montserrat;
    padding-left: 20px;
}



.spaced-button {
    margin-right: 5px;
    width: 10%;
}
.add-button {
    width: 20%; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    background-color: rgb(250, 255, 212);
}

.search-button {
    width: 10%; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    background-color: rgb(194, 245, 204);
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #eff4af; /* Background color of the message */
    color: rgb(0, 0, 0); /* Text color of the message */
    text-align: center;
    padding: 10px;
    z-index: 1000; /* Make sure it's above other elements */
    font-family: 'Montserrat';
    font-weight: bold;
  }
  
.alert-success {
    background-color: #eff4af; /* Green background for success message */
  }
  
.alert-error {
    background-color: #DC3545; /* Red background for error message */
  }
  
/* Style the close button (if needed) */
#popup .btn-close {
    color: white;
  }